<h1 id="tableLabel">Contacts</h1>

<table *ngIf="contacts">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address Line 1</th>
            <th>Address Line 2</th>
            <th><tr>Phone Type</tr></th>
            <th><tr>Phone Prefix</tr></th>
            <th><tr>Phone Number</tr></th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts" class="disable">
        <td>{{ contact.id }}</td>
        <td><input type="text" id="firstName" value="{{ contact.firstName }}" [(ngModel)]="contact.firstName" ></td>
        <td><input type="text" value="{{ contact.lastName }}" [(ngModel)]="contact.lastName" ></td>
        <td><input type="text" value="{{ contact.address.line1 }}" [(ngModel)]="contact.address.line1" ></td>
        <td><input type="text" value="{{ contact.address.line2 }}" [(ngModel)]="contact.address.line2" ></td>
        <td>
          <tr *ngFor="let subItem of contact.phone"> 
            <td><input type="text" value="{{ ePhoneType[subItem.type] }}" [(ngModel)]="subItem.type" ></td>
          </tr>
        </td>
        <td>
          <tr *ngFor="let subItem of contact.phone"> 
            <td><input type="text" value="{{ subItem.prefix }}" [(ngModel)]="subItem.prefix" ></td>
          </tr>
        </td>
        <td>
          <tr *ngFor="let subItem of contact.phone"> 
            <td><input type="text" value="{{ subItem.number }}" [(ngModel)]="subItem.number" ></td>
          </tr>
        </td>
        <td><button type="button" (click)="save($event, contact)">Save</button></td>
        <td><button type="button" (click)="delete($event, contact.id)">Delete</button></td>
      </tr>
      <button type="button" (click)="addNew($event, contacts[0])">Add New</button>
    </tbody>
</table>

